body {
    background: linear-gradient(to right, #0066ff, #ff9100);
    color: white;
}
.container {
    width: 90%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 3.5em;
    animation: anim 2s infinite alternate;

}
h2{
    text-align: center;
    font-size: 2.5em;
}
p{
    text-align: center;
    font-size: 1.2em;
    margin: 20px 0;
}

.vehicle {

    display: grid;
    gap: 2px;
    justify-content: center;
    background: linear-gradient(to right, #e100ff, #0096fa);
}

.v{
        background: rgba(0, 0, 0, 0.35);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.m {
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.missions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(to right, #f37d7d, #ff2fa1);
    padding: 10px;
    border-radius: 10px;
}

img {
    object-fit: contain;
    width: 500px;
    height: auto;
    border-radius: 2%;
    margin: 2px;
}

@keyframes anim {
  0%   { transform: translateY(-30px); }
  20%  { transform: translateY(10px); }
  60%  { transform: translateY(-15px); }
  70%  { transform: translateY(8px); }
  100% { transform: translateY(0); }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }


  img {
    height: 150px;
  }
  .container {
    padding: 1rem;
  }


  .m, .v {
    padding: 1rem;
  }
}